{% extends 'security/layout.html.twig' %}

{% block title "APi - S'inscrire" %}

{% block body %}

    <!--================ Start Registration Area =================-->

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                {{ form_start(form, {'attr': {'class': 'login100-form form-horizontal'}}) }}
					<span class="login100-form-title p-b-26">
						<a href="{{ path('home') }}">
                            <img src="{{ asset('img/logo.png') }}" alt="APi" />
                         </a>
					</span>
                    <span class="login100-form-title p-b-26">
						Sign Up
					</span>
                    <div class="wrap-input100">
                        {{ form_widget(form.username, {'attr': {'class': 'input100'}}) }}
                        <span class="focus-input100" data-placeholder="Username"></span>
                    </div>
                    <div class="wrap-input100">
                        {{ form_widget(form.firstname, {'attr': {'class': 'input100'}}) }}
                        <span class="focus-input100" data-placeholder="{% trans %}Firstname{% endtrans %}"></span>
                    </div>
                    <div class="wrap-input100">
                        {{ form_widget(form.lastname, {'attr': {'class': 'input100'}}) }}
                        <span class="focus-input100" data-placeholder="{% trans %}Lastname{% endtrans %}"></span>
                    </div>
                    <div class="wrap-input100">
                        {{ form_widget(form.email, {'attr': {'class': 'input100'}}) }}
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>
                    <div class="wrap-input100">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        {{ form_widget(form.password.first, {'attr': {'class': 'input100'}}) }}
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    <div class="wrap-input100">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        {{ form_widget(form.password.second, {'attr': {'class': 'input100'}}) }}
                        <span class="focus-input100" data-placeholder="{% trans %}Confirm{% endtrans %} Password"></span>
                    </div>
                    <div class="container-login100-form-btn p-b-26">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                {% trans %}Create{% endtrans %}
                            </button>
                        </div>
                    </div>
                    <div class="text-center">
						<span class="txt1">
							{% trans %}Already an account{% endtrans %} ? |
						</span>

                        <a class="txt2" href="">
                            {% trans %}Login{% endtrans %}
                        </a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <!--================ End Registration Area =================-->

{% endblock %}
